img { border-style: none; padding: 10px; }

.dropdown-content li>a {
    font-size: 16px;
    color: #fff;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.dropdown-content li>span {
    font-size: 16px;
    color: #000;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

/* Datatable */
table.dataTable.no-footer {
    border-bottom: 20px solid transparent !important;
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0 !important;
}
.dataTables_wrapper .dataTables_filter {
    float: right !important;
    text-align: left !important;
    width: 300px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 0px solid #111 !important;
}